<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CARDS</title>
</head>
<body>
<div class="cards" id="cards">
    <div class="card">
        <h3>Tutoriels</h3>
        <p>Mettez en place en quelques étapes seulement un serveur Spring</p>
    </div>
    <div class="card">
        <h3>Exercices</h3>
        <p>Pour découvrir les divers cas d'application de Spring</p>
    </div>
    <div class="card">
        <h3>Perfectionnement</h3>
        <p>Allez plus loin et acquérez des techniques avancées</p>
    </div>
</div>
</body>
</html>