<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TP CSS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <div class="navbar">
            <h1>Spring</h1>
            <div class="links">
                <a href="templates/cards.html">Cards</a>
                <a href="/pic">Pic</a>
                <a href="">Presentation</a>
                <a href="">Footer</a>
            </div>
        </div>
        <header>
            <h2>Découvrez la mise en place de serveurs Spring
            <img th:class="logo" src="/circuit.jpg"></h2>
        </header>
        <div class="cards" id="cards">
            <div class="card">
                <h3>Tutoriels</h3>
                <p>Mettez en place en quelques étapes seulement un serveur Spring</p>
            </div>
            <div class="card">
                <h3>Exercices</h3>
                <p>Pour découvrir les divers cas d'application de Spring
                <link rel="stylesheet" href="style.css"></p>
            </div>
            <div class="card">
                <h3>Perfectionnement</h3>
                <p>Allez plus loin et acquérez des techniques avancées</p>
            </div>
        </div>
        <div class="pic">
            <img src="https://media.theresanaiforthat.com/job-placeholder.jpg?width=760" alt="">
            <p></p>
        </div>
        <div class="presentation">
            <p>Bla bla bla lorem ipsum jsp</p>
        </div>
        <div class="footer">
            <a href="style.css">Mentions légales</a>
            <a href="">Nous contacter</a>
        </div>  
    </main>
	<script src=""></script>
  </body>
</html>
